

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href=@Url.Action("index", "Home") class="nav__logo">PetFoodShop</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href=@Url.Action("", "Home") class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href=@Url.Action("SanPham", "Home") class="nav__link">Product</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact us</a></li>
                    @if (Session["TenDangNhap"] == null)
                    {
                        <li class="nav__item"><a href=@Url.Action("Login", "DangNhap") class="nav__link"><i class="far fa-user"></i></a></li>
                    }
                    else
                    {

                    }
                    <li class="nav__item"><a href=@Url.Action("Index","Cart") class="nav__link"><i class='fas fa-shopping-basket' id="theme-button"></i></a></li>
                    <li class="nav__item">
                        @if (Session["TenDangNhap"] != null)
                        {
                            <label>Wellcome @Session["TenDangNhap"].ToString() | </label>
                            <label>@Html.ActionLink("log out", "logout", "Home")</label>
                        }
                    </li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href=@Url.Action("index","Home") class="footer__logo">PetFoodShop</a>
                    <span class="footer__description">Mèo méo meo</span>
                    <div>
                        <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                    </div>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Services</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Delivery</a></li>
                        <li><a href="#" class="footer__link">Pricing</a></li>
                        <li><a href="#" class="footer__link">Pet Food</a></li>

                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Information</h3>
                    <ul>

                        <li><a href="#" class="footer__link">Contact us</a></li>
                        <li><a href="#" class="footer__link">Privacy policy</a></li>
                        <li><a href="#" class="footer__link">Terms of services</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Address</h3>
                    <ul>
                        <li>Ho Chi Minh City</li>
                        <li>Viet Nam</li>
                        <li>113-113-113</li>
                    </ul>
                </div>
            </div>

            <p class="footer__end">&#169; 2021 Team8. All right reserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

