@model MeoMeoMeo.Models.SanPham

@{
    ViewBag.Title = "Chỉnh sửa";
}

<h2>Chỉnh sửa</h2>

@using (Html.BeginForm("Edit","SanPhams",FormMethod.Post, new { enctype = "multipart/Form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaSP)

        <div class="form-group">
            @*@Html.LabelFor(model => model.TenSP, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Tên sản phẩm</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Loại sản phẩm</label>
            <div class="col-md-10">
                @Html.DropDownList("Maloai", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Maloai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Số lượng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Giá</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mô tả</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mota, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Hình ảnh</label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Hinh_anh, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Hinh_anh, "", new { @class = "text-danger" })*@
                <input type="file" name="img" id="img" onchange="previewFile()"/>
                <img src="~/IMG SANPHAM/@Model.Hinh_anh" width="200" alt="Image preview...">
                <script>
                    function previewFile() {
                        var preview = document.querySelector('img');
                        var file = document.querySelector('input[type=file]').files[0];
                        var reader = new FileReader();

                        reader.addEventListener("load", function () {
                            preview.src = reader.result;
                        }, false);

                        if (file) {
                            reader.readAsDataURL(file);
                        }
                    }
                </script>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
