@model IEnumerable<MeoMeoMeo.Models.SanPham>

@{
    ViewBag.Title = "Sản phẩm";
    if(Session["TenDangNhap"] == null)
    {
        Response.Redirect("/Admin");
    }
}

<h2>Sản phẩm</h2>
@using (Html.BeginForm())
{
    <div class="text-center">
        Tìm kiếm sản phẩm: @Html.TextBox("search")
        <input class="button" type="submit" value="Tìm kiếm">
    </div>
}
    <p>
        @Html.ActionLink("Tạo mới", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.TenSP)*@
                Tên sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Loại sản phẩm
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mota)
                </td>
                <td>
                    <img src="~/IMG SANPHAM/@item.Hinh_anh" width="150" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiSP.TenLoai)
                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaSP }) |
                    @Html.ActionLink("Xem chi tiết", "Details", new { id = item.MaSP }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaSP })
                </td>
            </tr>
        }

    </table>
