<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/Style.css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="nav bd-container">
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href=@Url.Action("Index","KhachHangs")>Khách hàng</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href=@Url.Action("Index","SanPhams")>Sản phẩm</a>
                </li>
                @*<li class="nav__item">
                    <a class="nav__link" href=@Url.Action("Index","LoaiSPs")>Loại sản phẩm</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href=@Url.Action("Index","DonHangs")>Đơn hàng</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href=@Url.Action("Index","ChiTietDHs")>Chi tiết đơn hàng</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href=@Url.Action("Index","UserRoles")>Vai trò người dùng</a>
                </li>*@
                <li class="nav__item">
                    @if (Session["Admin"] != null)
                    {
                        <label>Wellcome @Session["Admin"].ToString() | </label>
                        <label>@Html.ActionLink("log out", "logout", "Home")</label>
                    }
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href=@Url.Action("index","Home") class="footer__logo">PetFoodShop</a>
                    <span class="footer__description">Mèo méo meo</span>
                    <div>
                        <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                    </div>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Services</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Delivery</a></li>
                        <li><a href="#" class="footer__link">Pricing</a></li>
                        <li><a href="#" class="footer__link">Pet Food</a></li>

                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Information</h3>
                    <ul>

                        <li><a href="#" class="footer__link">Contact us</a></li>
                        <li><a href="#" class="footer__link">Privacy policy</a></li>
                        <li><a href="#" class="footer__link">Terms of services</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Address</h3>
                    <ul>
                        <li>Ho Chi Minh City</li>
                        <li>Viet Nam</li>
                        <li>113-113-113</li>
                    </ul>
                </div>
            </div>

            <p class="footer__end">&#169; 2021 Team8. All right reserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>