@model MeoMeoMeo.Models.SanPham

@{
    ViewBag.Title = Model.TenSP;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="btn-link">
        @Html.ActionLink("Trở lại danh mục", "SanPham")
    </div>
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <form action="@Url.Action("AddtoCart","Cart")" method="post">
                        <input type="hidden" name="productid" value="@Model.MaSP" />
                        <div class="preview col-md-6">
                            <div class="preview-pic tab-content">
                                <div class="tab-pane active" id="pic-1">
                                    <img src="~/IMG SANPHAM/@Model.Hinh_anh" width=500 />
                                </div>
                            </div>
                        </div>
                        <div class="details col-md-6">
                            <h3 class="product-title">Tên sản phẩm: @Model.TenSP</h3>
                        </div>
                        <p class="product-description">Mô tả sản phẩm: @Model.Mota</p>
                        <h4 class="price">Giá bán: @Model.Gia.GetValueOrDefault(0).ToString("N0") VNĐ</h4>
                        <h5 class="sizes">
                            Số lượng: 
                            <input type="number" name="soluong" value="1" min="1" max="99" />
                        </h5>
                        <div class="button-cart">
                            @*<button class="button" type="button">Thêm vào giỏ hàng</button>*@
                            <input type="submit" class="button" value="Thêm vào giỏ hàng" />
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>

 