@model IEnumerable<MeoMeoMeo.Models.SanPham>
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
:
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFoodShop</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/Content/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    <header>
    </header>
        <section class="menu section bd-container" id="menu">
            <span class="section-subtitle"></span>
            <h2 class="section-title">Sản Phẩm</h2>
            @using (Html.BeginForm())
            {
                <div class="text-center">
                    Tìm kiếm sản phẩm: @Html.TextBox("search")
                    <input class="button" type="submit" value="Tìm kiếm">
                </div>
            }

            <div class="menu__container bd-grid">
                @foreach (var item in Model)
                {
                    <div class="menu__content">
                        <img src="~/IMG SANPHAM/@item.Hinh_anh" alt="@item.Hinh_anh" class="menu__img">
                        <h3 class="menu__name"></h3>
                        <span class="menu__detail">Tên sản phẩm: @item.TenSP</span>
                        <span class="menu__preci">Giá: @item.Gia.GetValueOrDefault(0).ToString("N0") VND</span>
                        @Html.ActionLink("Xem chi tiết", "chitietSP", new { id = item.MaSP })
                        <div class="add-cart">
                            <a href="/them-gio-hang?Masp=@item.MaSP&Soluong=1" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                        </div>
                    </div>
                }


            </div>
        </section>
    </body>
</html>