@model IEnumerable<MeoMeoMeo.Models.ChiTietDH>

@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["TenDangNhap"] == null)
    {
        Response.Redirect("~/Dang-Nhap");
    }
    double total = 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="~/Content/CartStyle.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/Content/Style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    @if (Session["cart"] != null)
    {
        <div class="small-container cart-page">
            <table>
                <tr>
                    <th></th>
                    <th>Sản Phẩm</th>
                    <th>Số Lượng</th>
                    <th>Thành tiền</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                total += Convert.ToDouble(item.SanPham.Gia * item.SL);
                <tr>
                    @*<div class="cart-info">*@
                    <td>
                        <img src="~/IMG SANPHAM/@item.SanPham.Hinh_anh" width="150">
                    </td>
                    <td>
                        <div>
                            <p>
                                Tên sản phẩm: @item.SanPham.TenSP
                            </p>
                            <small>Giá: @item.SanPham.Gia.GetValueOrDefault(0).ToString("N0") VND</small>
                            <br>
                        </div>
                    </td>
                    <td>
                        @using (Html.BeginForm("UpdateCart", "Cart"))
                        {
                            <div class="center-block">
                                <input type="hidden" value="@item.SanPham.MaSP" name="productid" />
                                <input type="number" class="input-group" value=@item.SL min="1" max="99" name="soluong" />
                                <button type="submit" class="btn button bt-dangnhap">Cập nhật</button>
                            </div>

                        }
                    </td>
                    <td>
                        @((item.SanPham.Gia * item.SL).GetValueOrDefault(0).ToString("N0"))VND
                    </td>
                    <td>
                        @using (Html.BeginForm("xoaSP", "Cart"))
                        {
                            <input type="hidden" value="@item.SanPham.MaSP" name="id" />
                            <button type="submit" class="btn button bt-dangnhap">Xóa sản phẩm</button>
                        }
                    </td>
                </tr>
                }
            </table>
            <table>
                <tr>
                    <td>Tổng tiền</td>
                    <td>@total.ToString("N0") VND</td>
                </tr>
            </table>
            <p>
                <div class="text-right">
                    <a href=@Url.Action("SanPham", "Home") class="button btn">Tiếp tục mua hàng</a>
                    <a href=@Url.Action("checkout", "Cart") class="button btn">Thanh toán</a>
                </div>
            </p>
        </div>
    }
    else
    {
        <div class="text-center">
            Không có sản phẩm nào trong giỏ hàng
        </div>
    }
</body>

</html>